
	<!-- end:fh5co-header -->
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(images/slider1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
		   						<!--<p><span>Bora Hotel</span></p>-->
		   						<h2>Hope best stay for you</h2>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/slider2.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
		   						<!--<p><span>Deluxe Hotel</span></p>-->
		   						<h2>Sorry for inconvience</h2>
			   					<p>
			   						<a href="#" class="btn btn-primary btn-lg">Book Now</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/slider3.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
		   						<!--<p><span>Luxe Hotel</span></p>-->
		   						<h2>We expect to see you again</h2>
			   					<p>
			   						<a href="#" class="btn btn-primary btn-lg">Book Now</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	
		  	</ul>
	  	</div>
	</aside>
	<div class="wrap">
		<div class="container">
			<div class="row">
				<div id="availability">
					<form method="POST" id="cancel-booking">
						<div class="a-col alternate">
							<div class="input-field">
								
							<label for="contractId">Contract Id</label>
							<input type="text" id="contractId" name="contractId" required/>
							</div>
						</div>
						
						<div class="a-col action">
							<button type = "submit" name="cancelBooking" id ="cancelBooking" class="btn btn-primary btn-lg">Cancel Booking</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<!-- Javascripts -->
	<script src="/js/jquery-2.1.4.min.js"></script>
	<!-- Dropdown Menu -->
	<script src="/js/hoverIntent.js"></script>
	<script src="/js/superfish.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="/js/jquery.countTo.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Date Picker -->
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="/js/classie.js"></script>
	<script src="/js/selectFx.js"></script>
	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>

	<script src="/js/custom.js"></script>

	<script src="/socket.io/socket.io.js"></script> 
    <script src="/js/cancelBooking.js"></script>